.account
{
    margin-left:500px;
    Margin-right:500px;
    border: 2px solid black;
    padding: 25px;
    color: #af761b;

}
h2
{
    color: #0b316d;
}
button
{
    color: #af761b;
    padding: 5px;
    background-color: #0b316d;
    
}











