.product-card {
    padding: 20px;
    background-color: white;
    margin: 15px;
}

#main-content-panel {
    background-color: whitesmoke;
}

.color-blue {
    color: blue;
    text-transform: uppercase;
    line-height: 14px;
    font-size: 12px;
    font-weight: bold;
}

.product-description {
    color: orange;
    line-height: 14px;
    font-size: 12px;
}

.product-more-button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

.product-current-bid {
    border: 2px solid grey;
    border-radius: 8px;
    padding: 3px;
}

.current-price {
    color: white;
    background-color: #0b316d;
    border: none;
    padding: 3px 9px;
}

.item-action-panel {
    background-color: white;
    padding: 20px;
}

.float-right {
    float: right;
}

.margin-top-10 {
    margin-top: 10px;
}

.production-info {
    background-color: white;
    margin-right: 30px;
    margin-left: 30px;
    border: 2px solid whitesmoke;
    padding: 15px;
}

.margin-top-minus-30 {
    margin-top: -20px;
}

.color-white {
    color: white;
}

.product-anymore-image-panel {
    background-color: white;
    padding: 15px;
    cursor: pointer;
}

.product-anymore-image-panel:hover {
    opacity: 0.5;
}

.margin-top-30 {
    margin-top: 30px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.product_zoom:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}

.product-panel {
    position: relative;
}

.action-buttons {
    display: none;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
    overflow: hidden;
}

.action-buttons>a {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: block;
    line-height: 40px;
    margin: 10px auto;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: inset 0 0 4px #fc7a51 0.44;
    background: #FF9F7E;
}

.margin-left-20 {
    margin-left: 20px;
}

ul li {
    cursor: pointer;
}

.loading {
    padding-top: 20%;
    display: none;
}

.essence-btn {
    width: 50%;
    margin-left: 37%;
    margin-right: 37%;
    text-align: center;
    display: block;
    max-width: 300px;
    margin-top: 40px;
    min-width: 170px;
    height: 50px;
    color: #af761b;
    border: 1px solid #af761b;
    border-radius: 1px;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 50px;
    background-color: #0b316d;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.custom-paginator {
    margin-top: 15px;
}

.custom-paginator ul {
    list-style-type: none;
}

.custom-paginator ul li {
    display: inline-block;
    padding: 5px 12px;
    color: black;
    background-color: azure;
    border-radius: 4px;
}

.custom-paginator ul>.active {
    background-color: #0b316d;
    color: white;
    border-radius: 4px;
}

.comments .comment time,
.comments .comment .like-count,
.comments .comment .icon-rocknroll {
    font-size: .75rem;
    opacity: 0.6;
}

.active-chat-user {
    padding-top: 5px;
    margin: 5px 10px;
    cursor: pointer;
    background-color: #1E90FF;
    border-radius: 16px;
    margin: 0 10px;
}

.chat-user {
    padding-top: 5px;
    margin: 5px 10px;
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 16px;
}

.active-chat-user span {
    color: white;
    margin-left: 10px;
    font-size: 13px;
}

.chat-user span {
    color: black;
    margin-left: 10px;
    font-size: 13px;
}