body {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  margin-top: 85px; }
  @media only screen and (max-width: 767px) {
    body {
      margin-top: 80px; } }