* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#investment-section {
  font-family: Helvetica, sans-serif;
}

#investment-section .heading {
  font-size: 1.5rem;
  text-align: center;
  color: #818181;
  margin: 2rem 0;
}

#investment-section #item-div,
#investment-section #item-div2 {
  display: flex;
  margin-bottom: 2rem;
}

#investment-section #item-div .input-style,
#investment-section #item-div2 .input-style {
  height: 2.2rem;
  border: 2px groove #ccc;
  border-radius: 0.3rem;
  outline: none;
  transition: all ease-in-out 0.6s;
  padding: 0 0.5rem;
}

#investment-section #item-div .input-style:focus,
#investment-section #item-div2 .input-style:focus {
  border: 2px solid #818181;
}

#investment-section #item-div #card-item-input,
#investment-section #item-div #saved-card-item-input,
#investment-section #item-div2 #card-item-input,
#investment-section #item-div2 #saved-card-item-input {
  width: 20rem;
  max-width: 20rem;
}

#investment-section #item-div {
  justify-content: space-between;
}

#investment-section #item-div2 {
  flex-direction: column;
  justify-content: center;
}

#investment-section #item-div2 #price-input {
  width: 10rem;
}

#investment-section #item-div2 #month-input {
  margin-bottom: 2rem;
  width: 10rem;
  max-width: 10rem;
}

#investment-section #bottom-section {
  display: flex;
  justify-content: space-between;
}

#investment-section #bottom-section #buttons-sections {
  display: flex;
  flex-direction: column;
}

#investment-section #bottom-section #buttons-sections button:first-child {
  margin-bottom: 1.5rem;
  background-color: #99ff8c;
}

#investment-section #bottom-section #buttons-sections button:first-child:hover {
  background-color: #34af24;
  color: white;
}

#investment-section #bottom-section #buttons-sections button:first-child:disabled {
  background-color: #99ff8c;
  cursor: not-allowed;
}

#investment-section #bottom-section #buttons-sections button:first-child:disabled:hover {
  color: #7e7e7e;
}

#investment-section #bottom-section #buttons-sections button:last-child {
  background-color: #ff8c8c;
}

#investment-section #bottom-section #buttons-sections button:last-child:hover {
  background-color: #ca2c2c;
  color: white;
}

#investment-section #bottom-section #buttons-sections button:last-child:disabled {
  background-color: #ff8c8c;
  cursor: not-allowed;
}

#investment-section #bottom-section #buttons-sections button:last-child:disabled:hover {
  color: #7e7e7e;
}

#investment-section #bottom-section #buttons-sections button {
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 0.1rem;
  cursor: pointer;
  padding: 0.5rem 5rem !important;
  border: none;
  border-radius: 0.3rem;
  outline: none;
  transition: all ease-in-out 0.9s;
}