@media only screen and (max-width: 992px){
	.responsive_form .two_sections input {
    	width: 95.5%;
    }
}
@media only screen and (max-width: 767px){
  	.responsive_form .col-md-2, .responsive_form .col-md-10{
  		width: 100% !important;
  		display: block;
  	}
  	.responsive_form .form-control-label{
  		padding-bottom: 5px;
  	}
    .container .wrapper{
      text-align: left !important;
    }
}