*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
    font-size: 16px;
    color: #000;
}
img{
    max-width: 100%;
    height: auto;
}
.row:before, .row:after {
  content: "";
  display: table ;
  clear: both;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    display: block;
}
hr.my-5{
  margin: 20px 0;
}
.responsive form{
   font-family: 'Roboto', sans-serif;
}
.responsive_form .card-outline-secondary{
  margin-top: 15px;
}
.responsive_form h3{
  position: relative; 
  color: #0b316d;
}
.responsive_form h3:after{
    content: '';
    position: absolute;
    border-bottom: 3px solid #af761b ;
    width: 80px;
    bottom: 0;
    left: 0;
}
.responsive_form .col-md-2{
    width: 15%;
    display: inline-block; 
}
.responsive_form .col-md-10 {
    width: 84.4%;
    display: inline-block;
} 
.responsive_form .form-group{
    margin-bottom: 15px;
}
.responsive_form h3{
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.responsive_form .form-control-label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: #0b316d;
    vertical-align: top;
    padding-top: 5px;
}
.responsive_form .form-control{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.responsive_form .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
} 
.responsive_form .radio_btn label{
    display: inline-block;
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    padding-right: 20px;
}
.responsive_form .radio_btn label input{
    padding-right: 20px;
}
input[type=radio] {
  position: absolute; 
  left: 0;
  margin: 4px 0 0;
}
.responsive_form label.radio_inline{
  display: inline-block;
}
.responsive_form textarea.form-control {
    height: auto;
    resize: none;
}
.responsive_form .two_sections span{
  width: 3%;
  display: inline-block;
}
.responsive_form .two_sections input{
  width: 96.5%;
  display: inline-block;
}

.responsive_form .four_sections span{
  width: 3%;
  display: inline-block;
}
.responsive_form .four_sections input{
  width: 46.2%;
  display: inline-block;
}


.responsive_form .five_sections span{
  width: 3%;
  display: inline-block;
  text-align: center;
}
.responsive_form .five_sections input{
  width: 30.6%;
  display: inline-block;
}

.responsive_form p{
  font-size: 16px;
  text-align: center;
  color: #0b316d;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  padding-top: 15px;
}
.mce-branding-powered-by{
  display: none;
} 
.container .wrapper{
  width: 350px;
  margin: 0 auto; 
  text-align: center; 
}
.responsive_form .container .wrapper h3{
  font-size: 20px;
  color: #333;
  margin-top: 5px;
  margin-bottom: 15px;
}
.responsive_form input[type="file"]{
  width: 95%;  
  margin-bottom: 10px;
  width: 93px;
}
.responsive_form input[type="submit"]{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1.3rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  cursor: pointer;
}
.responsive_form input[type="submit"]:hover{
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
.responsive_form .img-preview{
  background-color: #D0D0D0;
  margin-top: 10px;
  width: 400px;
  height: 400px;
}

.responsive_form .img-preview1{
  background-color: #D0D0D0;
  margin-top: 10px;
  width: 195px;
  height: 195px;
}

.responsive_form .img-preview2{
  background-color: #D0D0D0;
  margin-top: 10px;
  width: 195px;
  height: 195px;
}

.responsive_form .img-preview3{
  background-color: #D0D0D0;
  margin-top: 10px;
  width: 195px;
  height: 195px;
}
.responsive_form .img-preview4{
  background-color: #D0D0D0;
  margin-top: 10px;
  width: 195px;
  height: 195px;
}
.responsive_form .img-preview img{
  width: 100%;
}

.responsive_form #rright, #rleft{
  background-color: #ed008c;
  border-color: #ed008c;
  font-size: 14px;
  color: #fff;
  line-height: 25px;
  padding: 0 10px;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  border: none;
  margin: 7px;
}
.responsive_form #rright:hover, #rleft:hover {
  color: #fff;
  background-color: #de0686;
  border-color: #de0686;
}

#file1 {
  grid-area: main;
}
#file2 {
  grid-area: adder1;
}
#file3 {
  grid-area: adder2;
}
#file4 {
  grid-area: adder3;
}
#file5 {
  grid-area: adder4;
}
#file1-rotate {
  grid-area: mainRt;
}

.container-file {
  display: grid;
  grid-template-columns: 420px 205px 205px;
  grid-template-rows: auto;
  grid-template-areas: 
    "main adder1 adder2"
    "main adder3 adder4"
    "mainRt . ."
    ;
}

.custom-file-input2 {
  color: transparent;
  position: absolute;
  top: 46%;
  left: 38%;
  z-index: 2;
}
.custom-file-input2::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input2::before {
  content: 'Main image';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input2:hover::before {
  border-color: black;
}
.custom-file-input2:active {
  outline: 0;
}
.custom-file-input2:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

 .custom-file-input1 {
  color: transparent;
  position: absolute;
  top: 47%;
  left: 27%;
  z-index: 2;
  text-decoration:none;
}
.custom-file-input1::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input1::before {
  content: 'add image';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input1:hover::before {
  border-color: black;
}
.custom-file-input1:active {
  outline: 0;
}
.custom-file-input1:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}


.prev-rot {
    position: relative;
}

.rright1 {
position: absolute;
top: 0%;
right:0%;
background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.rright {
    background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.rright:hover {
  background-color: #555555;
  color: white;
}

.rright1:hover {
  background-color: #555555;
  color: white;
}

.btn-success {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-cancel {
background-color: #f44336; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
   cursor: pointer;
}